/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.workspace-leaf-content[data-type="example-view"] {
	background: var(--color-base-00);
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
	padding: 0;
}
.chat-container > h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 0.5em 0;
}

.settings {
    background-color: var(--color-base-20);
	color: var(--color-base-70);
    border-radius: 8px;
    padding: 0.5em 1em;
    margin-top: 1em;
	font-size: 0.8em;
}

.settings .setting-web-search {
    display: flex;
    align-items: center;
    gap: 12px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 4px;
	user-select: text;
}

.message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
    padding: 0.5em 1em 0.5em 1em;
    background: var(--background-primary);
}

.message span:first-child {
    font-weight: bold;
}
.message > div {
    margin: 0;
}
.message > div > p:first-child {
    margin: 0;
}
.message :nth-child(2) {
    margin-left: 1em;
}

.message[data-success=false] {
    background-color: rgb(94, 0, 0);
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 0.25em;
    overflow-wrap: break-word;
}
.input-container > textarea {
    background: var(--background-primary);
    padding: 1em 1em;
}

.submit-container {
    display: flex;
    justify-content: end;
    margin-top: 1em;
    gap: 12px;
}
.submit-container > button.add-to-chat {
    min-width: 100px;
}

/* ROLE SPECIFIC STYLES */
.message[data-role="CHATBOT"] {
	background: var(--color-base-20);
}
.message[data-role="SYSTEM"] {
	background: var(--color-base-00);
	font-size: 0.8em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.message[data-role="USER"] {
	background: var(--color-base-40);
}
